---
import '@/styles/global.css'

import Repo from '@/components/repo.astro'
import Indicator from '@/components/024/indicator.astro'
import HueInput from '@/components/024/hue_input.astro'
import Input from '@/components/024/input.astro'
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Projetos semanais #boraCodar da Rocketseat: #24 ajustes de iluminação." />
    <link rel="shortcut icon" type="image/x-icon" href="/rkt-boracodar/favicon.ico" />

    <title>Ajustes de Iluminação</title>
  </head>

  <body x-data="{ h: 272, s: 98, l: 50 }" class="bg-#151515 grid h-full min-h-screen overflow-x-hidden">
    <div class="text-#8703FC absolute w-full" :style="`color: hsl(${h}, ${s}%, ${l}%)`">
      <Repo position="top-0 right-0" animation="appear-r" />
    </div>

    <main class="space-y-105px h-full overflow-x-hidden pb-10 sm:pb-0">
      <Indicator />

      <div class="space-y-90px max-w-500px appear-b m-auto w-max px-4 text-center">
        <h1 class="font-raleway text-8 leading-9.5 w-max whitespace-nowrap font-light">Ajustes de Iluminação</h1>

        <form class="space-y-82px inline-block w-full">
          <HueInput x-model="h" />
          <Input icon="ph-sun-thin" x-model="l" />
          <Input icon="ph-circle-half-thin" x-model="s" />
        </form>
      </div>
    </main>
  </body>
</html>
