---
import '@/styles/global.css'
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Projetos semanais #boraCodar da Rocketseat." />
    <link rel="shortcut icon" type="image/x-icon" href="/rkt-boracodar/favicon.ico" />

    <title>boraCodar</title>
  </head>
  <body class="w-screen h-screen bg-black">
    <main class="w-full h-full grid place-content-center">
      <h1 class="text-#C6ADFF font-bold font-roboto text-10 whitespace-nowrap select-none leading-none">
        <span class="text-#8257E5">{'{'}</span>
        <span class="font-rubik font-regular">#</span>boraCodar
        <span class="text-#8257E5">{'}'}</span>
      </h1>
    </main>
  </body>
</html>
