---
import '@/styles/global.css'

import Repo from '@/components/repo.astro'
import Section from '@/components/023/section.astro'
import Step from '@/components/023/step.astro'
import Input from '@/components/023/input.astro'
import Button from '@/components/023/button.astro'
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Projetos semanais #boraCodar da Rocketseat: #23 Um formulário multi step." />
    <link rel="shortcut icon" type="image/x-icon" href="/rkt-boracodar/favicon.ico" />

    <title>Formulário Multi Step</title>

    <style is:global>
      html {
        color-scheme: light !important;
      }

      * {
        @apply selection:(bg-#633BBC text-white);
      }
    </style>
  </head>

  <body class="font-ibm_plex_sans accent-#633BBC h-full w-screen overflow-y-hidden bg-white text-base">
    <Repo position="top-0 right-0" color="text-#633BBC" animation="appear-r" />

    <div class="grid min-h-screen w-full place-content-center p-4">
      <template x-data="{ page: 1 }" x-if="true">
        <main class="rounded-1.5 border-#E1E1E6 md:min-w-148 appear-b grid h-full w-full gap-8 border bg-white p-8">
          <header class="flex items-center justify-between">
            <Step icon="ph-number-circle-one-fill" text="Contato" page="1" />

            <div class="ph-caret-right-bold"></div>

            <Step icon="ph-number-circle-two-fill" text="Empresa" page="2" />

            <div class="ph-caret-right-bold"></div>

            <Step icon="ph-number-circle-three-fill" text="Projeto" page="3" />
          </header>

          <hr class="border-#E1E1E6" />

          <form>
            <Section page="1" label="Contato">
              <div class="grid gap-4">
                <Input label="Nome" placeholder="Como prefere ser chamado" />
                <Input label="Telefone" placeholder="Digite seu número de WhatsApp" />
                <Input label="E-mail" placeholder="Digite seu e-mail" />
              </div>

              <footer class="flex justify-between gap-8">
                <span></span>
                <Button text="continuar" next />
              </footer>
            </Section>

            <Section page="2" label="Empresa">
              <div class="grid gap-4">
                <Input label="Nome da empresa" placeholder="Qual é o nome da empresa" />
                <Input label="Número de funcionários" placeholder="Digite o número de colaboradores" />
                <Input label="Sobre seu negócio" placeholder="Fale um pouco sobre seus produtos ou serviços" textarea />
              </div>

              <footer class="flex justify-between gap-8">
                <Button text="voltar" previous />
                <Button text="continuar" next />
              </footer>
            </Section>

            <Section page="3" label="Projeto">
              <div class="grid gap-4">
                <Input label="Objetivos do projetos" placeholder="Descreva quais os objetivos desse projeto" textarea />
              </div>

              <footer class="flex justify-between gap-8">
                <Button text="voltar" previous />

                <Button text="enviar proposta" next />
              </footer>
            </Section>

            <Section page="4" label="Enviado">
              <footer class="flex items-center gap-2">
                <i class="ph-check-bold"></i>
                <p>Seu projeto foi enviado com sucesso!</p>
              </footer>
            </Section>
          </form>
        </main>
      </template>
    </div>
  </body>
</html>
