---
const { position, color } = Astro.props

const styles = {
  right: 'absolute right-0 top-0 m-4',
  left: 'absolute left-0 top-0 m-4'
}
---

<nav class={styles[position]}>
  <a
    target="_blank"
    href="https://github.com/dreisss/rkt-boracodar"
    class="flex p-1 hover:opacity-80 transition-opacity">
    <i class={`ph-github-logo text-7 text-${color}`}></i>
  </a>
</nav>
