---
const { position, color } = Astro.props
---

<nav class="absolute m-4" class:list={position}>
  <a
    target="_blank"
    href="https://github.com/dreisss/rkt-boracodar"
    aria-label="Ir para o repositório com os projetos"
    class="flex p-1 transition-opacity hover:opacity-80">
    <i class="ph-github-logo text-7" class:list={color}></i>
  </a>
</nav>
