---
const { icon, 'x-model': model } = Astro.props
---

<style>
  input[type='range']::-moz-range-thumb {
    @apply bg-#151515 border-1.5px hover:border-1px active:border-2px h-3.5 w-3.5 rounded-full border-white;
  }
</style>

<label class="flex w-full items-center gap-4">
  <div class="text-6" class:list={icon}></div>
  <input
    type="range"
    min="0"
    max="100"
    step="1"
    class="h-1.25 bg-#D9D9D9 w-full appearance-none rounded-full"
    x-model={model}
  />
</label>
